* {
   margin:0;
   padding:0;

   box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
}                 
/*웹사이트제작시 기본으로 이렇게 넣어주면 좋다*/


body{
	overflow: hodden;

	font-family: san-sheif;
	color: #585858;
}

h1,h2,h3,h4,h5,h6,p{
	font-weight: 400;
}

/*굵기는 100~900Rkwl 100단위로 올라감*/

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*이건 왜함?*/

img {
	vertical-align: middle;
}

span {
	display: block
}

#header h1 {
	background-color: yellow
}

#header h1 .logo {

    position: relative;
    display: block;

    width: 100%;
    height: 65px;
   /* background-color: yellow;*/
}

#header .logo img {

	position: absolute;

	top: 0;
	margin-top: 23px;

	left: 50%;
	margin-left: -93px;
}

/*미디어쿼리안쪽에 pc버전 작성중임*/


#header .buttons ul {
	overflow: hidden;
}

#header .buttons li {
	position: relative;
	float: left;

	width: 33.33%;
	height: 65px;

}

.menu-button {
   display: block;

   width: 100%;
   height: 100%;
   text-align: center; 
}

#header .buttons li:nth-child(1) .menu-button {
	background-color: blue;
}

#header .buttons li:nth-child(2) .menu-button {
	background-color: pink;
}

#header .buttons li:nth-child(3) .menu-button {
	background-color: green;
}

#header .buttons li  .menu-button img {
	position: relative;
	height: 20px;

	top: 50%;
	transform: translateY(-50%);
}

/*실무에서자주사용.꼭 숙지*/


/*1em=16px*/
@media (min-width: 47em) {
   #header {
   	position: fixed;
   	width: 100%;
   	height: 80px;

   	top:  0;
   	left: 0;

   	z-index: 99999;
   }

   #header h1 {
   	  width: 50%;
   }

   #header h1 .logo {
   	   width: 280px;
   	   height: 80px;

   	   margin-top: 30px;
   }

   #header .logo img{
   	margin-top: 30px;
   }

   #header .buttons {
   	   position: absolute;
   	   width: 50%;

       
   	   left: 50%;
   	   top: 0;
   }

   /*position absolute 사용시 공간크기 지정해야함*/

   #header .buttons li {
   	   height: 80px;
   }
}


.main-content .product-group-link {
	position: relative;
	display: block;
	/*float: left;*/

	width: 100%;
	height: 56.25%;  
	border: solid 10px red;
	/*원래크기와 근사치*/

	overflow: hidden;
}

.product-group-link img{
	width: 100%;
	height: 100%;
}

.main-content .product-group .link-text {
	position: absolute;

	left: 25px;
	bottom: 25px;

	color: black;
	font-size: 25px;
}

@media (min-width47em){
	.main-content {
		padding-top: 80px;
	}
}

@media (min-width: 60em) {

    .main-content {
    	overflow: hidden;
    }

	.main-content .product-group-link {
		float: left;
		width: 50%;
		height: 58.125%;
	}
}

#footer {
	position: relative;
/*	background-color: yellow;*/

    padding-bottom: 66px;
}

#footer .left-nav {
   padding-top: 20px;
   text-align: center;
}

#footer .left-nav list {
	padding: 5px 0;
}

#footer .right-method {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
}

#footer .right-method li {
	display: inline-block;
	padding: 7px 4px;
}

#footer .right-method .payment-icon {
	display: inline-block;

	width: 30px;
	height: 20px;
}

#footer .right-method .payment-icon.one {
	background-color: black;
}

#footer .right-method .payment-icon.two {
	background-color: red;
}


#footer .right-method .payment-icon.three {
	background-color: pink;
}


#footer .right-method .payment-icon.four {
	background-color: blue;
}

#footer .right-method .payment-icon.five {
	background-color: gray;
}


#footer .to-top-button{
	position: absolute;
	display: block;

	width: 66px;
	height: 66px;
	background-color: green;

	bottom: 0;
	left: 50%;
	margin-left: -33px;
}


@media(min-width: 60em) {
   #footer {
   	height: 66px;
   }

   #footer .left-nav {
   	   float: left;

   	   width: 50%;
   	   background-color: yellow;
   	   text-align: left;

       margin: 0;
   	   padding-top: 32px;
   	   padding-left: 40px;
   }

  #footer .right-method{
  	float: right;

  	width: 50%;
  	background-color: yellowgreen;

  	margin: 0;
  	padding-top: 32px;
  	padding-right: 40px;

  	text-align: right;
  }

  #footer ul, #footer li, #footer h3 {
  	display: inline-block;
  	vertical-align: middle;
  }

#footer .left-nav a{
	font-size: 14;
	padding: 0 5px;
}

  #footer h3 {
  	padding-right: 10px;
  }
}